.cartera, .tarjeta, .tarjeta a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    /* Contenedor general */
.cartera {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 40px auto 0;
    text-align: center;
    line-height: 56px;
    font-size: 14px;
    font-family: sans-serif;
}
    /* Cada tarjeta */
.tarjeta {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    border-bottom: 3px groove #eee;
}
    /* Estado normal */
.tarjeta a {
    position: relative;
    display: block;
    top: -6px;
    left: 50%;
    width: 96%;
    margin-left: -48%;
    padding: 0 0 0 16px;
    line-height: 32px;
    font-weight: normal;
    border-radius: 16px 16px 0 0;
    text-decoration: none;
    box-shadow: 0 -2px 2px rgba(0,0,0,.1), 0 0 20px rgba(0,0,0,.2) inset;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
    /* Elevación de las tarjetas */
.tarjeta a:hover {
    line-height: 52px;
    top: -26px;
    text-decoration: none;
}
    /* Colores X (Twitter) */
.tarjeta.ttwitter a {
    color: #fdfdfd; 
    background-color: #000000; 
}
    /* Colores Facebook */
.tarjeta.tfacebook a {
    color: #ccc;
    background: #3B559F;
}
    /* Colores Pinterest */
.tarjeta.tpinterest a {
    color: #ccc;
    background: #CB2027;
    }
    /* Colores Instagram */
.tarjeta.tinstagram a {
    color: #ccc;
    background: #b250bd;
}
